@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Use this area to provide additional information.</p>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var Element in ViewBag.CoffeeList)
    {
        <tr>
            <td>@Element.name</td>
            <td>@Element.description</td>
            <td>@Element.quantity</td>
            <td>@Element.price</td>
            <td><a href="/Home/DeleteCoffee?name=@Element.name" onclick="return confirm('Are you sure?')">Delete</a></td>

        </tr>
   
    }
</table>

<br/>

<a href="/Home/NewItemPage">Add New Item</a><br />